html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: 'Fira Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  flex-flow: column;
  max-width: 50%;
  justify-content: center;
}

.container {

}

.container p {
  line-height: 30px;
}

.container a {
  color: #667CA0;
}

@media screen and (max-width: 480px) {
  main {
    max-width: 80%;
  }
}