<footer class="footer">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="footer-links">
                <a href="http://twitter.com/levibrooke" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:levi@levibrooke.com" target="_blank"><i class="fa fa-envelope fa-lg"></i></a>
                <a href="{{ site.url }}/feed.xml" target="_blank"><i class="fa fa-rss fa-lg"></i></a>
            </div>
            <div class="colophon">
                <p></p>
            </div>
        </div>
    </div>
</footer>