<head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <link rel="canonical" href="{{ page.url }}"/>
    <link rel="icon" href="{{ site.url }}/assets/favicon.ico">

    {% include meta.html %}

    <link href="{{ site.url }}/assets/all.css" rel="stylesheet">
    <script src="{{ site.url }}/assets/all.js"></script>
    {% include gosquared.html %}
</head>