<nav class="navbar navbar-default navbar-static-top" id="pages-nav">
    <div class="container">
        <!-- Logo and toggle group together -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<!--            <a class="navbar-brand" href="#">Levi Porter</a>-->
        </div>
        <!-- Nav links -->
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.url }}">Home</a></li>
                <li><a href="{{ site.url }}/articles">Articles</a></li>
                <li><a href="{{ site.url }}/projects">Projects</a></li>
                <li><a href="{{ site.url }}/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>