{% if post.content | number_of_words <= 90 %}
{% assign reading_time = "30 sec" %}
{% elsif post.content | number_of_words < 270 %}
{% assign reading_time = "1 min" %}
{% elsif post.content | number_of_words < 450 %}
{% assign reading_time = "2 min" %}
{% elsif post.content | number_of_words < 630 %}
{% assign reading_time = "3 min" %}
{% elsif post.content | number_of_words < 810 %}
{% assign reading_time = "4 min" %}
{% elsif post.content | number_of_words < 990 %}
{% assign reading_time = "5 min" %}
{% else %}
{% assign reading_time = post.content | number_of_words | divided_by: 180 | append: ' min' %}
{% endif %}