/*** levibrooke.com styles ***/

/* RSCSS rscss.io ---------
- Think in components, named with 2 words (.screenshot-image)
- Components have elements, named with 1 word (.blog-post > .title)
- Name variants with a dash prefix (.shop-banner.-with-icon)
- Components can nest
- Remember you can extend to make things simple
--------------------------*/

/*** Colors ***
Dark gray #242927
Dark green #2F3633
Gold #CBB784
**************/

/*** Typography ***/

body, p, a, ul, li, h3, h4 {
    font-family: "proxima nova";
    color: #242927;
}
p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 1em;
}
h1, h2, h3, h4 {
    line-height: 1.5em;
}

h1, h2 {
    font-family: "clarendon-urw";
    color: #2F3633;
}
body, a, ul, li {
    font-weight: 400;
}
h1 {
    font-weight: 700;
}
h2 {
    font-weight: 500;
}
h3 {
    font-weight: 400;
}
h4 {
    font-weight: 300;
}
a {
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: none;
}

/*** Elements ***/
.text-align-center {
    text-align: center;
}
.alignleft {
    float: left;
    margin: 1em 2em 2em -9em;
}

/*** Navigation **/

.navbar {
    border: none;
    min-height: 20px;
}
.navbar-brand {
    padding: 0 15px;
}

.navbar-default {
    background-color: transparent;
    border-bottom: 2px solid #CBB784;
}
.navbar-static-top {
    margin-top: 50px;
}
#nav a {
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}
.navbar-brand, .navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #2F3633;
}
.navbar-default .navbar-brand {
    color: #2F3633;
}

/** Bootstrap navbar overrides **/
@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -30px;
    }
    .navbar-right {
        float: right!important;
        margin-right: 0;
    }
    .navbar-nav>li>a {
        padding-top: 0;
        padding-bottom: 0;
    }
}
/*** Footer ***/
footer {
    border-top: 2px solid #2F3633;
}
.footer-links {
    text-align: center;
    margin: 2em;
}
.footer-links a {
    padding: 1em;
    text-decoration: none;
    border: none;
}
.footer-links a:focus, .footer-links a:hover {
    text-decoration: none;
    border: none;
}

/*** Index.html ***/
.content-area {
    width: 50%;
    min-height: 100vh;
    z-index: 10;
    position: relative;
    background: #fff;
    transform: translateX(0);
    transition: all 1s ease;
}
.content-block {
    height: 100vh;
    overflow: auto;
}
.content {
    margin: 100px 50px 0;
    .content-header {margin: 0;}
    .content-intro {margin: 50px 0;}
    .content-intro p {font-size: 20px;}
    .content-intro p span {font-weight: 300; font-size: 14px; color: #cbb784;}
    .contact-area {position: relative; margin-top: 50px; width: 200px;}
}
.contact-area {
    .link {display: block; position: relative; transition: padding .3s ease; font-size: 18px; font-weight: 200;}
    .link:hover {padding-left: 20px; color: #242927;}
    .link span {color: #cbb784; padding-right: 10px;}
//    .link:nth-child(1):hover ~ .contact-dash:nth-child(2) {left: -490px;}
//    .link:nth-child(3):hover ~ .contact-dash:nth-child(4) {left: -490px;}
//    .contact-dash {position: absolute; border-bottom: 1px solid #cbb784; left: -510px; width: 500px; transition: left .3s ease;}
//    .contact-dash:nth-child(2) {top: 10px; }
//    .contact-dash:nth-child(4) {top: 30px; }
}
.image-frame {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #2f3633;
    transform: translateX(25%);
    transition: transform 1s .5s ease;
    .image {object-fit: cover; height: 100%; width: 100%; opacity: 0.2; z-index: 5;}
}

@media screen and (max-width: 1080px) {
    .image-frame {
        height: 50vh;
        transform: none;
    }
    .content-area {
        width: 100%;
        min-height: 100%;
        margin-top: 50vh;
    }
    .content-block {
        height: 100%;
    }
    .content {
        margin: 20px;
        .contact-area {margin: 50px 0;}
    }
}
