---
---

// imports
@import "normalize";
@import "responsive-nav";
@import "skeleton";

// white #fff
// blue #FAFFFE
// red/orange #FFFFFA
// green #F7FFFA
// yellow #FEFFF9

// nav
.header {
    margin: 2rem auto 5rem;
}
.nav-brand {
    width: 50%;
    float: left;
}
.logo {
    font-size: 2rem;
    text-decoration: none;
}
.nav-links {
    width: 50%;
    float: right;
}
nav a {
    font-size: 1.8rem;
    text-decoration: none;
}
@media screen and (min-width: 550px) {
}
@media screen and (min-width: 750px) {
    .header {
        margin-top: 6rem;
        margin-bottom: 9rem;
    }
    .nav-brand {
        width: 25%;
    }
    .nav-links {
        width: 75%;
    }
}

// footer
.footer {
    a { text-decoration: none; }
    .listening-to { display: block; margin-top: 1rem; }
}
.follow-list {
    li { display: inline-block; padding-right: 2rem; }
}
//@media screen and (min-width: 1200px) {
//    .contact-block { width: 50%; }
//    .follow-list, .listening-to { width: 40%; margin-left: 10%; }
//}
.shoutout-block {
    margin-top: 5rem;
}

// global typography
ul, li, a, p { color: inherit; }
.home {
//    background: #3C6997;
    background: #F7FFFA;
    color: $home-color;
    h3 {
        display: inline-block;
    }
}
.about {
    background: #FAFFFE;
    color: $main-color;
}
.work {
    background: #FEFFF9;
    color: $work-color;
}
.tag, .archive {
    background: #FFFFFA;
    color: $archive-tags-color;
    
    h4 { display: inline-block; }
    
}
.post, .writing {
    background: #fff;
    color: $writing-color;
}

.writing-block {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.post-meta {
    p { display: inline; color: #ccc; }
    .post-date { margin-bottom: 1rem; display: block; }
    a { text-transform: capitalize; }
}

.work-listing {
    margin-top: 10rem;
    h3 { display: inline-block; }
    span { display: inline-block; padding: 0 1rem; }
    p {display: inline-block; }
    
}

.image-wide {
    margin-left: -26.33333%;
}

