<!DOCTYPE html>
<html>
    
    {% include header.html %}
    
    <body>
        {% include gtm-container.html %}
        
        <div class="container">
            {% include post-nav.html %}
            {% include reading-time.html %}
            <article class="article-post">
                <header class="post-header" style="background-image: url('{{ site.url }}/images/{{ page.image }}')">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 post-header-inner">
                            <div class="post-headline">
                                <h1>{{ page.title }}</h1>
                            </div>
                            <div class="post-meta">
                                <p>Posted on {{ page.posted | date: "%B %-d, %Y" }} &#8226; <span>{{ reading_time }} read</span></p>
                            </div>
                        </div>
                    </div>
                </header>
                <aside class="share-article">
                    <p>Share Article</p>
                    <ul class="share-links">
                        <li><a href="https://twitter.com/intent/tweet?text=Check+out+this+article&url={{ site.url }}/{{ page.url }}&via=levibrooke" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.url }}" target="_blank"><i class="fa fa-facebook-official fa-lg"></i></a></li>
                        <li><a href="mailto:?&subject=Article coming your way&body=Check%out%this%article%I%read%3A%20{{ site.url }}/{{ page.url }}" target="_blank"><i class="fa fa-envelope fa-lg"></i></a></li>
                    </ul>
                </aside>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                        {{ content }}
                        {% include post-footer.html %}
                        {% include comments.html %}
                     </div>
                </div>
            </article>
            
            {% include footer.html %}
        </div>
    </body>
</html>