---
layout: default
---

<header>
    <h1>Tagged {{ page.title | capitalize }}</h1>
</header>
<section>
    {% if site.tags[page.title] %}
        {% for post in site.tags[page.title] %}
            {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% if forloop.first %}
                <h4>{{ post_year }}</h4>
                <ul>
            {% endif %}
                {% unless forloop.first %}
                {% assign previous_index = forloop.index0 | minus: 1 %}
                {% capture previous_post_year %}{{ site.tags[page.title][previous_index].date | date: '%Y' }}{% endcapture %}
                {% if post_year != previous_post_year %}
                    </ul>
                    <h4>{{ post_year }}</h4>
                    <ul>
                {% endif %}
            {% endunless %}
            <li>
                <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                <time datetime="{{ post.date }}">{{ post.date | date: '%b %-d' }}</time>
            </li>
            {% if forloop.last %}
                </ul>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no posts with this tag.</p>
    {% endif %}
</section>
